.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.sidebar {
  background-color: var(--light);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 10px;
  align-self: start;
  margin-top: 60px;
}

.settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 35px;
  width: 100%;
  padding: 40px;
  padding-top: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
  margin-top: -100px
}

.MD_Parent {
  background-color: #FEFEFE;
  flex: 1;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 1.5rem;
  box-sizing: border-box;
  min-height: 99vh;
  align-self: center;
}
